.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  opacity: 80%;
}
.rules-content{
  margin: auto;
  padding: 15px;
  border: 4px;
  border-color: red;
  width: 50%;
}
.close{
  color: red;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.close:hover,
.close:focus{
  color: white;
  cursor: pointer;
}

h2{
  text-align: center;
}

body
{
    font-size: 18px;
    background: lightgrey;

}

h1{
    text-align: center;
    color: royalblue;
}


table{
    background-color: darkgreen;
    margin: auto;
    margin-bottom: 10px;
    height: 200px;
    width: 600px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    display: table;
    padding: 10px;

}

td{
    color: lightgrey;
}


div.btns{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

div.topbox{
    width: 600px;
    height: 60px;
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 6px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}


button{
    font-size: 20px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    margin: 10px;
    padding: 10px;
    border: 2px solid royalblue;
    font-weight: bold;
    border-radius: 6px;
}

button#newgame{
    background-color: green;

}


button#hit{
    background-color: darkgreen;
    color: lightgrey;
    width: 70px;
    border-color: black;
}

button#stay{
    background-color: gold;
    width: 70px;
    border-color: black;
}

#score{
  border: 5px dotted royalblue ;
  word-spacing: 10px;
}

.hidden{
  visibility: hidden;
}

/* input#bet {
  margin: 5px;
  position: relative;
  } */
